---
import { Image } from "astro:assets";
const {
  href = "",
  icon = "",
  label = "",
  linkClass = "",
  iconClass = "",
  labelClass = "",
} = Astro.props;

const showLabel = label.trim() !== "";
---

<a href={href} target="_blank" class={` ${linkClass}`}>
  <Image
    src={icon}
    alt={label || "social icon"}
    class={iconClass}
    height={5}
    width={5}
  />
  {showLabel && <span class={labelClass}>{label}</span>}
</a>
