---
const {
  href="",
  icon="",
  label = "",
  linkClass = "",
  iconClass = "",
  labelClass = "",
} = Astro.props;

const showLabel = label.trim() !== "";
---

<a
  href={href}
  target="_blank"
  class={` ${linkClass}`}
>
  <img src={icon} alt={label || "social icon"} class={iconClass} />
  {showLabel && <span class={labelClass}>{label}</span>}
</a>
