---
const {
  email = "dullfarhan@gmail.com",
  text = "",
  icon = "",
  class: className = "",
  iconClass = "",
  textClass = "",
} = Astro.props;
---

<a
  href={`mailto:${email}`}
  class={className}
>
  <img
    src={icon}
    alt="Envelope"
    class={iconClass}
  />
  <p class={textClass}>{text}</p>
</a>
