---
// ProjectCard.astro
import { Image } from "astro:assets";
import ExternalLink from "./ExternalLink.astro";

export interface Props {
  index: number;
  title: string;
  description: string;
  image1: ImageMetadata;
  image2: ImageMetadata;
  tags: string[];
  link?: string;
}

const { title, description, image1, image2, tags, index, link } = Astro.props;
const isFirstIndex = index === 0;
---

{isFirstIndex && <link rel="preload" as="image" href={image1.src} />}

<div class="card group relative">
  <div
    class="relative w-full max-w-[296px] h-[240.06px] sm:max-w-[351px] sm:h-[267.17px]"
  >
    <!-- Default image -->
    <Image
      src={image1}
      alt={title}
      priority={isFirstIndex}
      loading={isFirstIndex ? "eager" : "lazy"}
      decoding="async"
      class={`absolute inset-0 w-full h-full object-cover rounded-[18px] sm:rounded-[20px] ${
        isFirstIndex
          ? ""
          : "transition-opacity ease-in-out duration-500 group-hover:opacity-0"
      }`}
    />
    <Image
      src={image2}
      alt={title}
      decoding="async"
      class={`absolute inset-0 w-full h-full object-cover rounded-[18px] sm:rounded-[20px] opacity-0 ${
        isFirstIndex
          ? ""
          : "transition-opacity ease-in-out duration-500 group-hover:opacity-100"
      }`}
    />
  </div>

  <div
    class="flex flex-col gap-[16px] p-0 sm:pr-[10px] sm:pb-[10px] sm:pl-[10px]"
  >
    <h3 class="text-[18px] sm:text-[20px] font-semibold">
      {link ? <ExternalLink href={link} title={title} /> : title}
    </h3>

    <p class="leading-[1.2] text-sm sm:text-base">{description}</p>

    <div class="flex flex-wrap gap-[10px]">
      {
        tags.map((tag) => (
          <span class="bg-white text-[12px] sm:text-[14px] font-normal px-[12px] py-[8px] rounded-full leading-[100%] border border-gray-200">
            {tag}
          </span>
        ))
      }
    </div>
  </div>
</div>
